<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h2>My trips</h2>

<% @user.trips.each do |trip| %>
    <h2><%=link_to trip.trip_name, trip %></h2>
<% end %>

<%= link_to 'New Trip', new_trip_path %> |
<%= link_to 'Back', users_path %>
