<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="keywords" content="Koren Leslie Cohen, Christina Leuci, travel journal, online travel journal, travel budget calculator, travel application, The Flatiron School"/>
  <meta name="description" content="description">
  <title>Title</title>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>